/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
}

/* INTRO */
#welcome-screen {
  position: fixed;
  inset: 0;
  background: #e8f5e9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition:
    opacity 1s,
    visibility 1s;
  z-index: 99999;
}
.intro-img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-bottom: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}
#welcome-screen h1 {
  color: #004d40;
  font-size: 1.8rem;
  text-transform: uppercase;
}
.sumir {
  opacity: 0;
  visibility: hidden;
}

/* NAVBAR */
.navbar {
  background: #aee9c9;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #c8e6c9;
}
.navbar .logo img {
  height: 60px;
}

nav {
  display: flex;
  justify-content: center;
}
.menu {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  max-width: 1200px;
  padding-right: 20px;
}
.menu a {
  padding: 15px;
  font-weight: bold;
  text-decoration: none;
  color: #004d40;
}
.menu a:hover {
  background: #3e693f;
  color: #fff;
  border-radius: 4px;
}

/* SUBMENU */
.submenu {
  display: none;
  position: absolute;
  top: 100%;
  background: #e8f5e9;
  min-width: 220px;
  border: 1px solid #c8e6c9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.dropdown:hover .submenu {
  display: block;
}

/* CONTEÚDO */
.container,
.servicos {
  text-align: center;
  padding: 40px 20px;
}
.imagem-site {
  max-width: 300px;
  border-radius: 15px;
  margin-top: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

/* CARDS */
.grid {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}
.card {
  width: 200px;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  border-bottom: 4px solid #004d40;
  transition: 0.3s;
}
.card:hover {
  transform: translateY(-5px);
}

/* BOTÕES */
.btn {
  display: inline-block;
  padding: 10px 16px;
  background: #2ecc71;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  border-radius: 6px;
  transition: 0.3s;
}
.btn:hover {
  background: #27ae60;
}

/* FORMULÁRIOS */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 16px;
}
main form {
  width: 100%;
  max-width: 520px;
  padding: 32px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
}
main input,
main select,
main textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 16px;
  border-radius: 6px;
  border: 1px solid #dadce0;
}
main input:focus,
main select:focus,
main textarea:focus {
  outline: none;
  border-color: #52b788;
}

/* FOOTER */
footer {
  background: #004d40;
  color: #fff;
  padding: 40px 20px;
  text-align: center;
}

/* RESPONSIVO */
@media (max-width: 768px) {
  .menu {
    flex-direction: column;
    align-items: center;
  }
}
