/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CORPO */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f7f6;
    color: #0f3d2e;
}

/* MENU NO TOPO */
nav {
    background-color: #0f3d2e;
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
}

/* MENU HORIZONTAL */
.menu {
    list-style: none;
    display: flex;              /* ISSO deixa horizontal */
    align-items: center;
    height: 100%;
}

/* ITENS DO MENU */
.menu li {
    position: relative;
}

/* LINKS */
.menu li a {
    color: white;
    text-decoration: none;
    padding: 20px 15px;         /* separação horizontal */
    display: block;
}

/* HOVER */
.menu li a:hover {
    background-color: #1f6f54;
}

/* SUBMENU */
.submenu {
    list-style: none;
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: #1f6f54;
    min-width: 180px;
}

/* MOSTRAR SUBMENU */
.dropdown:hover .submenu {
    display: block;
}

/* CONTEÚDO DA PÁGINA */
main {
    margin-top: 80px;           /* empurra texto para baixo */
    padding-left: 20px;         /* texto à esquerda */
}
